<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648596655528-kafivq0ki0vj8pdq7n75399neq10ov53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648596655528-kafivq0ki0vj8pdq7n75399neq10ov53</string>
	<key>API_KEY</key>
	<string>AIzaSyAWukKi5yAYSP-35pzshNUTJGbzEBAe71o</string>
	<key>GCM_SENDER_ID</key>
	<string>648596655528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tencent.im.flutter.uikit</string>
	<key>PROJECT_ID</key>
	<string>tencentcloud-im</string>
	<key>STORAGE_BUCKET</key>
	<string>tencentcloud-im.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648596655528:ios:5ce1cb99ee9f1a477fe19d</string>
</dict>
</plist>